*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}   

.imerse-hero-section{
    max-width: 1170px;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/hero-bg.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    /* border: 2px solid black; */
}

.container-1{
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    /* border: 2px solid black; */
    height: auto;
}  

.container{
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    /* border: 2px solid black; */
}   

.header{
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    /* border: 2px solid black; */
}   

h1{
    /* border: 2px solid black; */
    font-size: 9.5rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}




h3{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(95, 95, 95);
    text-align: center;
    margin-bottom: 20px;
}



.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
    /* border: 2px solid black; */
    margin: 0 10px;
    transition: all 0.3s ease;
    background-color: black;
    border-radius: 7px;
}


/* Responsive styles */
@media (max-width: 1200px) {
    h1 {
        font-size: 7.5rem;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 6rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 4.5rem;
    }
}

@media (max-width: 576px) {

    .imerse-hero-section{
        height: 100vh;
    }
    h1 {
        font-size: 3rem;
        height: 100vh;
    }

    h3{
        font-size: 1.2rem;
    }

    .container-1{
        /* max-width: 1170px; */
        margin: 0;
        overflow: hidden;
        padding: 0 0;
        /* border: 2px solid black; */
        height: 100vh;
    } 

    h1{
        margin-top: 10vh;
        height: 20vh;
    }

    h3{
        margin: 10px 10px 10px 10px;
        font-size: 12px;

    }
/* 
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    a{
        font-size: 12px;
        height: 30px;
        width: 30vw;
    } */
}

/* About Section */

.about{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow: hidden;
    padding: 100px 0;
}

.p1,.p2,.p3{
    font-size: 3.8rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 2px;
    /* border: 2px solid black; */
    padding-top: 0;
    height: auto;
}


@media (max-width: 1200px) {
    .p1,.p2,.p3{
        font-size: 3.4rem;
    }
}

@media (max-width: 992px) {
    .p1,.p2,.p3{
        font-size: 3.2rem;
    }
}

@media (max-width: 768px) {
    .p1,.p2,.p3{
        font-size: 2.8rem;
    }
}

@media (max-width: 576px) {
    .p1,.p2,.p3{
        font-size: 2.2rem;
    }
}


/* Bar */

.immerse-features-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    padding: 100px 0;
}

.features{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.feature{
    width: 300px;
    height: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    padding: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    /* border-radius: 10px; */
    /* background-color: white; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease;
}

.counts{
    font-size: 3.8rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.counts-text{
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}


@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
    .features{
        height: auto;
     }
     
}

@media (max-width: 576px) {
    .features{
       height: auto;
    }
    
.features{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.feature{
    border-left: 2px solid white;
    border-right: 2px solid white;
}
}

/* Videos */


.immerse-videos-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow: hidden;
    padding: 100px 0;
    /* border: 2px solid black; */
}

.video-title{
    font-size: 3.8rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.videos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* margin-top: 50px; */
    width: 100%;
    height: auto;
}

.video{
    width: 88vw;
    height: 540px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    .video-title{
        font-size: 1.6rem;
        font-weight: 700;
        color: black;
        text-align: center;
        margin-bottom: 20px;
    }

    .video{
        width: 90vw;
        height: 80vh;
        margin: 0;
        padding: 0;
    }


}




/* Speaker */

.immerse-speakers-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: auto;
    overflow: hidden;
    padding: 100px 0;
}

.speakers{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.speaker-1,.speaker-2,.speaker-3{
    width: 300px;
    height: 440px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.speaker-1{
    background-image: url(https://www.bgsu.edu/content/dam/BGSU/news/2023/05/Tedx23-122.jpg/_jcr_content/renditions/kraken-medium.jpg);
    background-size: cover;
    background-position: center;
}

.speaker-2{
    background-image: url(https://www.bgsu.edu/content/dam/BGSU/news/2023/05/Tedx23-122.jpg/_jcr_content/renditions/kraken-medium.jpg);
    background-size: cover;
    background-position: center;
}

.speaker-3{
    background-image: url(https://www.bgsu.edu/content/dam/BGSU/news/2023/05/Tedx23-122.jpg/_jcr_content/renditions/kraken-medium.jpg);
    background-size: cover;
    background-position: center;
}

.speaker-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
    /* text-align: center; */
    margin-bottom: 10px;
}

.speaker-btn{
    width: 200px;
    height: 50px;
    font-weight: 600;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    color: white;
    background-color: black;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding-left: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}


@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    .speakers{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        padding-bottom: 20px;
    }

    .speaker-1,.speaker-2,.speaker-3{
        width: 300px;
        height: 80vh;
        margin: 0 0 20px 0;
        
    }

    .speaker-btn{
        width: 30vw;
        height: 8vh;
        font-weight: 600;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 20px;
        font-size: .8rem;
    }
}


/* Events */

.immerse-events-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow: hidden;
    padding: 100px 0;
    /* border: 2px solid black; */
}

.event-title{
    font-size: 3.8rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}       

.events{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}   

.event{
    width: 88vw;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 20px;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.event-title-s{
    display: flex;
    justify-content: column;
    flex-direction: row;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.event-text-s{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    text-align: center;
    margin: 12px 10px 12px 0;
    /* border-top: 2px solid black; */
    padding-top: 20px;
}

.event-text-s-s{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin: 12px 10px 12px 0;
    padding-top: 20px;
    /* border-top: 2px solid black; */
    width: 100%;
}

.event-text-t{
    font-size: 1.6rem;
}

.event-text-ev{
    font-size: 1.6rem;
    font-weight: 600;
}

.event-text-text{
    font-size: 1.6rem;
}

.event-box{
    width: 35px;
    height: 18px;
    /* border: 2px solid black; */
    background-color: cadetblue;
    border-radius: 9px;
    margin-right: 8px;
}

@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {

    .event{
        margin: 0 0 20px 0;
    }

    .events{
        margin-top: 0;
    }  

    .event-text-t{
        font-size: .8rem;
        padding: 4px;
        line-height: 15px;
    }
    
    .event-text-ev{
        font-size: 1rem;
        padding: 6px;
    }
    
    .event-text-text{
        font-size: 1rem;
        padding: 6px;
    }

    .event-title-s{
        font-size: 1.6rem;
    
    }
    #event-title{
        font-size: 1.8rem;
    } 

}


/* Extra Text */

.immerse-extra-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow: hidden;
    padding: 100px 0;
    /* border: 2px solid black; */
}

.extra-title{
    font-size: 3.8rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.extra-text{
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}


@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {

    .extra-title{
        font-size: 2.8rem;
        padding: 0 10px 0 10px;
    }

    .extra-text{
        font-size: 1.8rem;
        padding: 0 10px 0 10px;
        text-indent: .6rem;
    }
}

/* Team Members */

.immerse-team-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow: hidden;
    padding: 100px 0;
    /* border: 2px solid black; */
}

.team-title{
    font-size: 3.8rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    /* border: 2px solid black; */
}

.team{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    width: 88vw;
    /* border: 2px solid black; */
}

.team-member{
    width: 80%;
    height: 240px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.team-member-img{
    width: 50%;
    height: 200px;
    background-image: url(https://www.bgsu.edu/content/dam/BGSU/news/2023/05/Tedx23-122.jpg/_jcr_content/renditions/kraken-medium.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.team-text{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    /* border: 2px solid black; */
    margin-left: 20px;
}

.team-name{
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.team-role{
    font-size: 1.2rem;
    /* font-weight: 700; */
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {

    .team{
        margin-top: 16px;
    }
    .team-member{
        width: 80%;
        height: 26vh;
        margin: 0 5px;
        padding: 6px;
    }
    
    .team-member-img{
        width: 50%;
        height: 80%;
       
    }
    
    .team-text{
        width: 50%;
        height: 90%;
        margin-left: 10px;
    }
    
    .team-name{
        font-size: .6rem;
    }
    
    .team-role{
        font-size: .6rem;
    }
}


/* Event H */

.immerse-highlights-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow: hidden;
    padding: 100px 0;
    /* border: 2px solid black; */
}

.highlights{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 90vw;
    height: 500px;
    /* border: 2px solid black; */
}

.highlight{
    width: 99%;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 0px;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 10px;
    /* background-color: white; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; */
}

.highlight-img-1{
    width: 96%;
    height: 80%;
    background-image: url(https://www.bgsu.edu/content/dam/BGSU/news/2023/05/Tedx23-122.jpg/_jcr_content/renditions/kraken-medium.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.highlight-img-2{
    width: 96%;
    height: 68%;
    background-image: url(https://www.bgsu.edu/content/dam/BGSU/news/2023/05/Tedx23-122.jpg/_jcr_content/renditions/kraken-medium.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.highlight-img-3{
    width: 96%;
    height: 68%;
    background-image: url(https://www.bgsu.edu/content/dam/BGSU/news/2023/05/Tedx23-122.jpg/_jcr_content/renditions/kraken-medium.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.highlight-img-4{
    width: 96%;
    height: 90%;
    background-image: url(https://www.bgsu.edu/content/dam/BGSU/news/2023/05/Tedx23-122.jpg/_jcr_content/renditions/kraken-medium.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.highlight-title{
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-top: 16px;
}


@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    .highlights{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 90vw;
    height: auto;
    /* border: 2px solid black; */
    }

    .highlight{
        height: 60vh;
        padding: 0;
    }
}


/* Sponsor Section */

.immerse-sponser-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: auto;
    overflow: hidden;
    /* padding: 100px 0; */
    /* border: 2px solid black; */
}

.sponsers{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 88vw;
    /* border: 2px solid black; */
}

.sponser{
    width: 300px;
    height: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    padding: 20px;
}


.sponser-img{
    width: 100%;
    height: 100%;
    background-image: url(https://www.bgsu.edu/content/dam/BGSU/news/2023/05/Tedx23-122.jpg/_jcr_content/renditions/kraken-medium.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}


@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    .immerse-sponser-section{
        padding: 0;
    }

    .sponser{
        height: 20vh;
        margin: 0 2px;
        padding: 6px;
    }
}


/* Footer */


.immerse-footer-section{
    width: 98%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    overflow: hidden;
    padding: 0px 0;
    /* border: 2px solid black; */
    margin: 0 10px 0 10px;
    border-radius: 30px 30px 0 0;
    /* background-color: black; */
}

.footer-1-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 80vw;
    height: 500px;
    /* border: 2px solid black; */
}   

.footer-1{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 80vw;
    height: 500px;
    /* border: 2px solid black; */
}   

.footer-text-link{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-text-1{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    width: 25vw;
    height: 300px;
    /* border: 2px solid black; */
}



.footer-text-2{
    /* margin-top: 10px; */
    width: 20vw;
    height: 300px;
    /* border: 2px solid black; */
}

.footer-2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 80vw;
    height: 200px;
    /* border: 2px solid black; */
}   


.footer-last-text{
    font-size: 9rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    /* border: 2px solid black; */
}

.footer-text-21{
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    text-align: left;
    margin-bottom: 20px;
    /* border: 2px solid black; */
}


@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    .footer-last-text{
        font-size: 3.1rem;
        font-weight: 900;
        color: white;
        text-align: center;
        margin-bottom: 20px;
        /* border: 2px solid black; */
    }

    .footer-1{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px 0 0 25px;
        width: 96vw;
        height: 60vh;
        
        /* border: 2px solid black; */
    }  

    .footer-text-21{
        font-size: .7rem;
        margin-bottom: 10px;
        width: 70vw;
    }

    .footer-text-1{
        width: 90vw;
        height: auto;
    }
    
    .footer-text-21{
        font-size: 1.2rem;
    }

    .footer-2{
        width: 99vw;
    }
}












